.wrapper {
    max-width: 48rem;
    margin: 0 auto;
}

.counterTasks {
    width: 100%;
    margin: 4rem auto;
}
.wrapper .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    color: var(--blue);
}
.wrapper .info .counter {
    margin-left: 0.5rem;
    color: var(--gray-200);
    background: var(--gray-400);
    padding: 0.125rem 0.5rem;
    border-radius: 999px;
}

@media (max-width: 768px) {
    html {
        font-size: 87.5%;
    }
}